In [1]:
import pandas as pd

In [2]:
file = 'data_sets/pokemon_data.csv'
df_pk = pd.read_csv(file)
df_pk.head()

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire

In [3]:
df_pk['Type'].mode()

0    Water
Name: Type, dtype: object

In [5]:
pok_dict = df_pk['Pokemon'].to_dict()

In [6]:
p_series = df_pk['Pokemon']
p_series

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [12]:
p_series.sort_values(ignore_index=True,ascending=False).head(18)

0       Zygarde
1      Zweilous
2         Zubat
3         Zorua
4       Zoroark
5     Zigzagoon
6        Zekrom
7     Zebstrika
8        Zapdos
9      Zangoose
10      Yveltal
11      Yanmega
12        Yanma
13       Yamask
14      Xerneas
15         Xatu
16       Wynaut
17      Wurmple
Name: Pokemon, dtype: object

In [15]:
df_pk.columns

Index(['Pokemon', 'Type'], dtype='object')

In [16]:
pd.read_csv(file,index_col=['Pokemon'])

               Type
Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
...             ...
Yveltal        Dark
Zygarde      Dragon
Diancie        Rock
Hoopa       Psychic
Volcanion      Fire

[721 rows x 1 columns]

In [65]:
tp = pd.read_csv(file,index_col=['Type']).squeeze()
tp

Type
Grass       Bulbasaur
Grass         Ivysaur
Grass        Venusaur
Fire       Charmander
Fire       Charmeleon
              ...
Dark          Yveltal
Dragon        Zygarde
Rock          Diancie
Psychic         Hoopa
Fire        Volcanion
Name: Pokemon, Length: 721, dtype: object

In [28]:
tp.loc['Grass']

Type
Grass     Bulbasaur
Grass       Ivysaur
Grass      Venusaur
Grass        Oddish
Grass         Gloom
            ...
Grass       Chespin
Grass     Quilladin
Grass    Chesnaught
Grass        Skiddo
Grass        Gogoat
Name: Pokemon, Length: 66, dtype: object

In [24]:
df_pk['Type'].value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [29]:
tp.sort_index()

Type
Bug        Leavanny
Bug           Burmy
Bug       Scolipede
Bug        Genesect
Bug      Kricketune
            ...
Water       Panpour
Water          Seel
Water       Dewgong
Water      Politoed
Water      Chinchou
Name: Pokemon, Length: 721, dtype: object

In [30]:
type(tp)

pandas.core.series.Series

In [34]:
tp[tp == 'Bulbasaur']

Type
Grass    Bulbasaur
Name: Pokemon, dtype: object

In [41]:
tp.index[tp.index == 'Grass']

Index(['Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass',
       'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass',
       'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass',
       'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass',
       'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass',
       'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass',
       'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass',
       'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass',
       'Grass', 'Grass'],
      dtype='object', name='Type')

In [43]:
type('Grass' in tp.index)

bool

In [44]:
tp.loc[tp.index[tp.index == 'Grass']]

Type
Grass     Bulbasaur
Grass       Ivysaur
Grass      Venusaur
Grass        Oddish
Grass         Gloom
            ...
Grass       Chespin
Grass     Quilladin
Grass    Chesnaught
Grass        Skiddo
Grass        Gogoat
Name: Pokemon, Length: 4356, dtype: object

In [47]:
tp[0]

'Bulbasaur'

In [48]:
tp[0:4]

Type
Grass     Bulbasaur
Grass       Ivysaur
Grass      Venusaur
Fire     Charmander
Name: Pokemon, dtype: object

In [49]:
tp[[4,5,6]]

Type
Fire     Charmeleon
Fire      Charizard
Water      Squirtle
Name: Pokemon, dtype: object

In [50]:
tp[0] = "Novil"

In [51]:
tp

Type
Grass           Novil
Grass         Ivysaur
Grass        Venusaur
Fire       Charmander
Fire       Charmeleon
              ...
Dark          Yveltal
Dragon        Zygarde
Rock          Diancie
Psychic         Hoopa
Fire        Volcanion
Name: Pokemon, Length: 721, dtype: object

In [66]:
tp[[0,4,6]]

Type
Grass     Bulbasaur
Fire     Charmeleon
Water      Squirtle
Name: Pokemon, dtype: object

In [72]:
type(tp.get(3323))

NoneType

In [73]:
tp["novil"] = "Novil"

In [75]:
del(tp['novil'])

In [76]:
tp

Type
Grass       Bulbasaur
Grass         Ivysaur
Grass        Venusaur
Fire       Charmander
Fire       Charmeleon
              ...
Dark          Yveltal
Dragon        Zygarde
Rock          Diancie
Psychic         Hoopa
Fire        Volcanion
Name: Pokemon, Length: 721, dtype: object

In [82]:
tp.get([3,5,6],'Missing')

Type
Fire     Charmander
Fire      Charizard
Water      Squirtle
Name: Pokemon, dtype: object

In [84]:
df_pk
tpp = df_pk.squeeze()

In [85]:
tpp

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [91]:
tp.apply(max)

Type
Grass      u
Grass      y
Grass      u
Fire       r
Fire       r
          ..
Dark       v
Dragon     y
Rock       n
Psychic    p
Fire       o
Name: Pokemon, Length: 721, dtype: object

In [92]:
# read james bond
# create df
# apply -- if year 1960 to 1975 => hit movie
# apply -- if year 1975 to 2000 => flop movie
# else avg

In [98]:
df_james = pd.read_csv('data_sets/jamesbond_user.csv',index_col=['Film'])
df_james.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [103]:
def rating(x):
    rating = 'None'
    if 1960 <= x < 1975:
        rating = 'Hit movie'
    elif 1975 <= x <= 2000:
        rating = 'Flop Movie'          
    else:
        rating = "AVG movil"
    return rating
df_james['Year'].apply(rating)

# df_james['rating'] = df_james['Year'].apply(lambda x: 'Hit movie' if 1960 <= x < 1975 
#                                         else 'Flop Movie' if 1975 <= x <= 2000 
#                                         else "AVG movil")

Film
Dr. No                              Hit movie
From Russia with Love               Hit movie
Goldfinger                          Hit movie
Thunderball                         Hit movie
Casino Royale                       Hit movie
You Only Live Twice                 Hit movie
On Her Majesty's Secret Service     Hit movie
Diamonds Are Forever                Hit movie
Live and Let Die                    Hit movie
The Man with the Golden Gun         Hit movie
The Spy Who Loved Me               Flop Movie
Moonraker                          Flop Movie
For Your Eyes Only                 Flop Movie
Never Say Never Again              Flop Movie
Octopussy                          Flop Movie
A View to a Kill                   Flop Movie
The Living Daylights               Flop Movie
Licence to Kill                    Flop Movie
GoldenEye                          Flop Movie
Tomorrow Never Dies                Flop Movie
The World Is Not Enough            Flop Movie
Die Another Day                     AVG movil
Casino Royale                       AVG movil
Quantum of Solace                   AVG movil
Skyfall                             AVG movil
Spectre                             AVG movil
Name: Year, dtype: object

In [100]:
df_james

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary,rating
Film,,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6,Hit movie
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6,Hit movie
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2,Hit movie
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7,Hit movie
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN,Hit movie
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4,Hit movie
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6,Hit movie
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8,Hit movie
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN,Hit movie
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN,Hit movie
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN,Flop Movie
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN,Flop Movie
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN,Flop Movie
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN,Flop Movie
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8,Flop Movie
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1,Flop Movie
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2,Flop Movie
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9,Flop Movie
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1,Flop Movie
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0,Flop Movie
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5,Flop Movie
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9,AVG movil
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3,AVG movil
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1,AVG movil
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5,AVG movil
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN,AVG movil

In [110]:
year_dict = dict()

for i in range(1960,2020):
    rating = 'None'
    if 1960 <= i < 1975:
        year_dict[i] = 'Hit movie'
    elif 1975 <= i <= 2000:
        year_dict[i] = 'Flop Movie'          
    else:
        year_dict[i] = "AVG movil"


df_james['Year'].map(year_dict).to_dict()

{'Dr. No': 'Hit movie',
 'From Russia with Love': 'Hit movie',
 'Goldfinger': 'Hit movie',
 'Thunderball': 'Hit movie',
 'Casino Royale': 'AVG movil',
 'You Only Live Twice': 'Hit movie',
 "On Her Majesty's Secret Service": 'Hit movie',
 'Diamonds Are Forever': 'Hit movie',
 'Live and Let Die': 'Hit movie',
 'The Man with the Golden Gun': 'Hit movie',
 'The Spy Who Loved Me': 'Flop Movie',
 'Moonraker': 'Flop Movie',
 'For Your Eyes Only': 'Flop Movie',
 'Never Say Never Again': 'Flop Movie',
 'Octopussy': 'Flop Movie',
 'A View to a Kill': 'Flop Movie',
 'The Living Daylights': 'Flop Movie',
 'Licence to Kill': 'Flop Movie',
 'GoldenEye': 'Flop Movie',
 'Tomorrow Never Dies': 'Flop Movie',
 'The World Is Not Enough': 'Flop Movie',
 'Die Another Day': 'AVG movil',
 'Quantum of Solace': 'AVG movil',
 'Skyfall': 'AVG movil',
 'Spectre': 'AVG movil'}

In [109]:
year_dict

{1960: 'Hit movie',
 1961: 'Hit movie',
 1962: 'Hit movie',
 1963: 'Hit movie',
 1964: 'Hit movie',
 1965: 'Hit movie',
 1966: 'Hit movie',
 1967: 'Hit movie',
 1968: 'Hit movie',
 1969: 'Hit movie',
 1970: 'Hit movie',
 1971: 'Hit movie',
 1972: 'Hit movie',
 1973: 'Hit movie',
 1974: 'Hit movie',
 1975: 'Flop Movie',
 1976: 'Flop Movie',
 1977: 'Flop Movie',
 1978: 'Flop Movie',
 1979: 'Flop Movie',
 1980: 'Flop Movie',
 1981: 'Flop Movie',
 1982: 'Flop Movie',
 1983: 'Flop Movie',
 1984: 'Flop Movie',
 1985: 'Flop Movie',
 1986: 'Flop Movie',
 1987: 'Flop Movie',
 1988: 'Flop Movie',
 1989: 'Flop Movie',
 1990: 'Flop Movie',
 1991: 'Flop Movie',
 1992: 'Flop Movie',
 1993: 'Flop Movie',
 1994: 'Flop Movie',
 1995: 'Flop Movie',
 1996: 'Flop Movie',
 1997: 'Flop Movie',
 1998: 'Flop Movie',
 1999: 'Flop Movie',
 2000: 'Flop Movie',
 2001: 'AVG movil',
 2002: 'AVG movil',
 2003: 'AVG movil',
 2004: 'AVG movil',
 2005: 'AVG movil',
 2006: 'AVG movil',
 2007: 'AVG movil',
 2008: 'AVG movil',
 2009: 'AVG movil',
 2010: 'AVG movil',
 2011: 'AVG movil',
 2012: 'AVG movil',
 2013: 'AVG movil',
 2014: 'AVG movil',
 2015: 'AVG movil',
 2016: 'AVG movil',
 2017: 'AVG movil',
 2018: 'AVG movil',
 2019: 'AVG movil'}

In [111]:
dict()

{}

In [113]:
df_james.axes

[Index(['Dr. No', 'From Russia with Love', 'Goldfinger', 'Thunderball',
        'Casino Royale', 'You Only Live Twice',
        'On Her Majesty's Secret Service', 'Diamonds Are Forever',
        'Live and Let Die', 'The Man with the Golden Gun',
        'The Spy Who Loved Me', 'Moonraker', 'For Your Eyes Only',
        'Never Say Never Again', 'Octopussy', 'A View to a Kill',
        'The Living Daylights', 'Licence to Kill', 'GoldenEye',
        'Tomorrow Never Dies', 'The World Is Not Enough', 'Die Another Day',
        'Casino Royale', 'Quantum of Solace', 'Skyfall', 'Spectre'],
       dtype='object', name='Film'),
 Index(['Year', 'Actor', 'Director', 'Box Office', 'Budget',
        'Bond Actor Salary', 'rating'],
       dtype='object')]

In [114]:
df_pk.axes

[RangeIndex(start=0, stop=721, step=1),
 Index(['Pokemon', 'Type'], dtype='object')]

In [115]:
df_james.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26 entries, Dr. No to Spectre
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               26 non-null     int64
 1   Actor              26 non-null     object
 2   Director           26 non-null     object
 3   Box Office         26 non-null     float64
 4   Budget             26 non-null     float64
 5   Bond Actor Salary  18 non-null     float64
 6   rating             26 non-null     object
dtypes: float64(3), int64(1), object(3)
memory usage: 2.7+ KB

In [117]:
df_pk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Pokemon  721 non-null    object
 1   Type     721 non-null    object
dtypes: object(2)
memory usage: 11.4+ KB

In [119]:
type(df_james)

pandas.core.frame.DataFrame

In [123]:
df_james[['Year','Actor']]

                                 Year           Actor
Film
Dr. No                           1962    Sean Connery
From Russia with Love            1963    Sean Connery
Goldfinger                       1964    Sean Connery
Thunderball                      1965    Sean Connery
Casino Royale                    1967     David Niven
You Only Live Twice              1967    Sean Connery
On Her Majesty's Secret Service  1969  George Lazenby
Diamonds Are Forever             1971    Sean Connery
Live and Let Die                 1973     Roger Moore
The Man with the Golden Gun      1974     Roger Moore
The Spy Who Loved Me             1977     Roger Moore
Moonraker                        1979     Roger Moore
For Your Eyes Only               1981     Roger Moore
Never Say Never Again            1983    Sean Connery
Octopussy                        1983     Roger Moore
A View to a Kill                 1985     Roger Moore
The Living Daylights             1987  Timothy Dalton
Licence to Kill                  1989  Timothy Dalton
GoldenEye                        1995  Pierce Brosnan
Tomorrow Never Dies              1997  Pierce Brosnan
The World Is Not Enough          1999  Pierce Brosnan
Die Another Day                  2002  Pierce Brosnan
Casino Royale                    2006    Daniel Craig
Quantum of Solace                2008    Daniel Craig
Skyfall                          2012    Daniel Craig
Spectre                          2015    Daniel Craig

In [134]:
df_nba = pd.read_csv('data_sets/NbaInfo.csv')
df_nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [135]:
df_nba['College']

0                  Texas
1              Marquette
2      Boston University
3          Georgia State
4                    NaN
             ...
453               Butler
454                  NaN
455                  NaN
456               Kansas
457                  NaN
Name: College, Length: 458, dtype: object

In [136]:
df_nba.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [137]:
df_nba['Email'] = "user@gmail.com"
df_nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Email
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,user@gmail.com
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,user@gmail.com
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,user@gmail.com
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,user@gmail.com
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,user@gmail.com
...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,user@gmail.com
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,user@gmail.com
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,user@gmail.com
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,user@gmail.com
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,user@gmail.com

In [138]:
df_nba.insert(loc=1,
              column='WeightUser',
              value = 72)

In [139]:
df_nba

,Name,WeightUser,Team,Number,Position,Age,Height,Weight,College,Salary,Email
0,Avery Bradley,72,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,user@gmail.com
1,Jae Crowder,72,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,user@gmail.com
2,John Holland,72,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,user@gmail.com
3,R.J. Hunter,72,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,user@gmail.com
4,Jonas Jerebko,72,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,user@gmail.com
...,...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,72,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,user@gmail.com
454,Raul Neto,72,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,user@gmail.com
455,Tibor Pleiss,72,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,user@gmail.com
456,Jeff Withey,72,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,user@gmail.com
457,NaN,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,user@gmail.com

In [143]:
df_nba['newAge'] = df_nba['Age'] + 4

In [144]:
df_nba[['Age','newAge']]

      Age  newAge
0    25.0    29.0
1    25.0    29.0
2    27.0    31.0
3    22.0    26.0
4    29.0    33.0
..    ...     ...
453  26.0    30.0
454  24.0    28.0
455  26.0    30.0
456  26.0    30.0
457   NaN     NaN

[458 rows x 2 columns]

In [152]:
df_nba['Age'].value_counts()

24.0    47
25.0    45
27.0    41
23.0    41
26.0    36
28.0    31
30.0    31
29.0    28
22.0    26
31.0    22
20.0    19
21.0    19
33.0    14
32.0    13
34.0    10
36.0    10
35.0     9
37.0     4
38.0     4
40.0     3
39.0     2
19.0     2
Name: Age, dtype: int64

In [153]:
df_nba.value_counts(subset='Team', normalize=True)

Team
New Orleans Pelicans      0.041575
Memphis Grizzlies         0.039387
New York Knicks           0.035011
Milwaukee Bucks           0.035011
Atlanta Hawks             0.032823
Utah Jazz                 0.032823
Toronto Raptors           0.032823
San Antonio Spurs         0.032823
Sacramento Kings          0.032823
Portland Trail Blazers    0.032823
Phoenix Suns              0.032823
Philadelphia 76ers        0.032823
Oklahoma City Thunder     0.032823
Boston Celtics            0.032823
Miami Heat                0.032823
Los Angeles Lakers        0.032823
Los Angeles Clippers      0.032823
Indiana Pacers            0.032823
Houston Rockets           0.032823
Golden State Warriors     0.032823
Detroit Pistons           0.032823
Denver Nuggets            0.032823
Dallas Mavericks          0.032823
Cleveland Cavaliers       0.032823
Chicago Bulls             0.032823
Charlotte Hornets         0.032823
Brooklyn Nets             0.032823
Washington Wizards        0.032823
Minnesota Timberwolves    0.030635
Orlando Magic             0.030635
dtype: float64

In [155]:
df_nba.dropna()

,Name,WeightUser,Team,Number,Position,Age,Height,Weight,College,Salary,Email,newAge
0,Avery Bradley,72,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,user@gmail.com,29.0
1,Jae Crowder,72,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,user@gmail.com,29.0
3,R.J. Hunter,72,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,user@gmail.com,26.0
6,Jordan Mickey,72,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,user@gmail.com,25.0
7,Kelly Olynyk,72,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,user@gmail.com,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,72,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0,user@gmail.com,27.0
451,Chris Johnson,72,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0,user@gmail.com,30.0
452,Trey Lyles,72,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,user@gmail.com,24.0
453,Shelvin Mack,72,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,user@gmail.com,30.0
456,Jeff Withey,72,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,user@gmail.com,30.0

In [161]:
df_nba.dropna(how="all")

,Name,WeightUser,Team,Number,Position,Age,Height,Weight,College,Salary,Email,newAge
0,Avery Bradley,72,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,user@gmail.com,29.0
1,Jae Crowder,72,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,user@gmail.com,29.0
2,John Holland,72,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,user@gmail.com,31.0
3,R.J. Hunter,72,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,user@gmail.com,26.0
4,Jonas Jerebko,72,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,user@gmail.com,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,72,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,user@gmail.com,30.0
454,Raul Neto,72,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,user@gmail.com,28.0
455,Tibor Pleiss,72,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,user@gmail.com,30.0
456,Jeff Withey,72,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,user@gmail.com,30.0
457,NaN,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,user@gmail.com,NaN

In [162]:
df_nba.dropna(subset='College')

,Name,WeightUser,Team,Number,Position,Age,Height,Weight,College,Salary,Email,newAge
0,Avery Bradley,72,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,user@gmail.com,29.0
1,Jae Crowder,72,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,user@gmail.com,29.0
2,John Holland,72,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,user@gmail.com,31.0
3,R.J. Hunter,72,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,user@gmail.com,26.0
6,Jordan Mickey,72,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,user@gmail.com,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,72,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0,user@gmail.com,27.0
451,Chris Johnson,72,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0,user@gmail.com,30.0
452,Trey Lyles,72,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,user@gmail.com,24.0
453,Shelvin Mack,72,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,user@gmail.com,30.0
456,Jeff Withey,72,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,user@gmail.com,30.0

In [163]:
df_nba.dropna(subset=['College','Salary'])

,Name,WeightUser,Team,Number,Position,Age,Height,Weight,College,Salary,Email,newAge
0,Avery Bradley,72,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,user@gmail.com,29.0
1,Jae Crowder,72,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,user@gmail.com,29.0
3,R.J. Hunter,72,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,user@gmail.com,26.0
6,Jordan Mickey,72,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,user@gmail.com,25.0
7,Kelly Olynyk,72,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,user@gmail.com,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,72,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0,user@gmail.com,27.0
451,Chris Johnson,72,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0,user@gmail.com,30.0
452,Trey Lyles,72,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,user@gmail.com,24.0
453,Shelvin Mack,72,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,user@gmail.com,30.0
456,Jeff Withey,72,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,user@gmail.com,30.0

In [168]:
df_nba['Age'].dropna().map(int)

0      25
1      25
2      27
3      22
4      29
       ..
452    20
453    26
454    24
455    26
456    26
Name: Age, Length: 457, dtype: int64

In [169]:
df_nba.fillna(0)
# (value: Scalar | NAType | dict | Series | DataFrame | None = ..., *, method: FillnaOptions 
#  | None = ..., axis: AxisType | None = ..., limit: int = ..., downcast: dict | None = ..., inplace: Literal[True]) -> None
# Fill NA/NaN values using the specified method.

,Name,WeightUser,Team,Number,Position,Age,Height,Weight,College,Salary,Email,newAge
0,Avery Bradley,72,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,user@gmail.com,29.0
1,Jae Crowder,72,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,user@gmail.com,29.0
2,John Holland,72,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,0.0,user@gmail.com,31.0
3,R.J. Hunter,72,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,user@gmail.com,26.0
4,Jonas Jerebko,72,Boston Celtics,8.0,PF,29.0,6-10,231.0,0,5000000.0,user@gmail.com,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,72,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,user@gmail.com,30.0
454,Raul Neto,72,Utah Jazz,25.0,PG,24.0,6-1,179.0,0,900000.0,user@gmail.com,28.0
455,Tibor Pleiss,72,Utah Jazz,21.0,C,26.0,7-3,256.0,0,2900000.0,user@gmail.com,30.0
456,Jeff Withey,72,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,user@gmail.com,30.0
457,0,72,0,0.0,0,0.0,0,0.0,0,0.0,user@gmail.com,0.0

In [174]:
df_nba['Futurense'] = df_nba['College'].fillna('Futurense')

In [176]:
df_nba['Salary'].hasnans

True

In [177]:
df_nba.sort_values('Name')

,Name,WeightUser,Team,Number,Position,Age,Height,Weight,College,Salary,Email,newAge,Futurense
152,Aaron Brooks,72,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0,user@gmail.com,35.0,Oregon
356,Aaron Gordon,72,Orlando Magic,0.0,PF,20.0,6-9,220.0,Arizona,4171680.0,user@gmail.com,24.0,Arizona
328,Aaron Harrison,72,Charlotte Hornets,9.0,SG,21.0,6-6,210.0,Kentucky,525093.0,user@gmail.com,25.0,Kentucky
404,Adreian Payne,72,Minnesota Timberwolves,33.0,PF,25.0,6-10,237.0,Michigan State,1938840.0,user@gmail.com,29.0,Michigan State
312,Al Horford,72,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0,user@gmail.com,34.0,Florida
...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,Xavier Munford,72,Memphis Grizzlies,14.0,PG,24.0,6-3,180.0,Rhode Island,NaN,user@gmail.com,28.0,Rhode Island
402,Zach LaVine,72,Minnesota Timberwolves,8.0,PG,21.0,6-5,189.0,UCLA,2148360.0,user@gmail.com,25.0,UCLA
271,Zach Randolph,72,Memphis Grizzlies,50.0,PF,34.0,6-9,260.0,Michigan State,9638555.0,user@gmail.com,38.0,Michigan State
237,Zaza Pachulia,72,Dallas Mavericks,27.0,C,32.0,6-11,275.0,NaN,5200000.0,user@gmail.com,36.0,Futurense
457,NaN,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,user@gmail.com,NaN,Futurense

In [178]:
df_nba.sort_values(by=['Team','Name'], ascending=True,na_position='first')

,Name,WeightUser,Team,Number,Position,Age,Height,Weight,College,Salary,Email,newAge,Futurense
457,NaN,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,user@gmail.com,NaN,Futurense
312,Al Horford,72,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0,user@gmail.com,34.0,Florida
318,Dennis Schroder,72,Atlanta Hawks,17.0,PG,22.0,6-1,172.0,NaN,1763400.0,user@gmail.com,26.0,Futurense
323,Jeff Teague,72,Atlanta Hawks,0.0,PG,27.0,6-2,186.0,Wake Forest,8000000.0,user@gmail.com,31.0,Wake Forest
309,Kent Bazemore,72,Atlanta Hawks,24.0,SF,26.0,6-5,201.0,Old Dominion,2000000.0,user@gmail.com,30.0,Old Dominion
...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,Marcus Thornton,72,Washington Wizards,15.0,SF,29.0,6-4,205.0,LSU,200600.0,user@gmail.com,33.0,LSU
376,Markieff Morris,72,Washington Wizards,5.0,PF,26.0,6-10,245.0,Kansas,8000000.0,user@gmail.com,30.0,Kansas
375,Nene Hilario,72,Washington Wizards,42.0,C,33.0,6-11,250.0,NaN,13000000.0,user@gmail.com,37.0,Futurense
378,Otto Porter Jr.,72,Washington Wizards,22.0,SF,23.0,6-8,198.0,Georgetown,4662960.0,user@gmail.com,27.0,Georgetown
379,Ramon Sessions,72,Washington Wizards,7.0,PG,30.0,6-3,190.0,Nevada,2170465.0,user@gmail.com,34.0,Nevada

In [182]:
df_nba['Salary'] = df_nba['Salary'].fillna(0)
df_nba['Salary'].astype(int)

0      7730337
1      6796117
2            0
3      1148640
4      5000000
        ...
453    2433333
454     900000
455    2900000
456     947276
457          0
Name: Salary, Length: 458, dtype: int32

In [183]:
df_nba['Salary'] = df_nba['Salary'].astype(int)

In [184]:
df_nba

,Name,WeightUser,Team,Number,Position,Age,Height,Weight,College,Salary,Email,newAge,Futurense
0,Avery Bradley,72,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337,user@gmail.com,29.0,Texas
1,Jae Crowder,72,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117,user@gmail.com,29.0,Marquette
2,John Holland,72,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,0,user@gmail.com,31.0,Boston University
3,R.J. Hunter,72,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640,user@gmail.com,26.0,Georgia State
4,Jonas Jerebko,72,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000,user@gmail.com,33.0,Futurense
...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,72,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333,user@gmail.com,30.0,Butler
454,Raul Neto,72,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000,user@gmail.com,28.0,Futurense
455,Tibor Pleiss,72,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000,user@gmail.com,30.0,Futurense
456,Jeff Withey,72,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276,user@gmail.com,30.0,Kansas
457,NaN,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,user@gmail.com,NaN,Futurense

In [187]:
df_nba['Team'].nunique(),df_nba['Team'].unique()

(30,
 array(['Boston Celtics', 'Brooklyn Nets', 'New York Knicks',
        'Philadelphia 76ers', 'Toronto Raptors', 'Golden State Warriors',
        'Los Angeles Clippers', 'Los Angeles Lakers', 'Phoenix Suns',
        'Sacramento Kings', 'Chicago Bulls', 'Cleveland Cavaliers',
        'Detroit Pistons', 'Indiana Pacers', 'Milwaukee Bucks',
        'Dallas Mavericks', 'Houston Rockets', 'Memphis Grizzlies',
        'New Orleans Pelicans', 'San Antonio Spurs', 'Atlanta Hawks',
        'Charlotte Hornets', 'Miami Heat', 'Orlando Magic',
        'Washington Wizards', 'Denver Nuggets', 'Minnesota Timberwolves',
        'Oklahoma City Thunder', 'Portland Trail Blazers', 'Utah Jazz',
        nan], dtype=object))

In [189]:
df_nba['NewTeam'] = df_nba['Team'].astype(dtype='category')

In [197]:
df_nba = df_nba.drop('NewTeam',axis=1)

In [192]:
df_nba['Team'] = df_nba['Team'].astype(dtype='category')

In [199]:
df_nba

,Name,WeightUser,Team,Number,Position,Age,Height,Weight,College,Salary,Email,newAge,Futurense
0,Avery Bradley,72,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337,user@gmail.com,29.0,Texas
1,Jae Crowder,72,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117,user@gmail.com,29.0,Marquette
2,John Holland,72,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,0,user@gmail.com,31.0,Boston University
3,R.J. Hunter,72,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640,user@gmail.com,26.0,Georgia State
4,Jonas Jerebko,72,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000,user@gmail.com,33.0,Futurense
...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,72,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333,user@gmail.com,30.0,Butler
454,Raul Neto,72,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000,user@gmail.com,28.0,Futurense
455,Tibor Pleiss,72,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000,user@gmail.com,30.0,Futurense
456,Jeff Withey,72,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276,user@gmail.com,30.0,Kansas
457,NaN,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,user@gmail.com,NaN,Futurense

In [200]:
df_nba['Position'] = df_nba['Position'].astype(dtype='category')

In [201]:
df_nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        457 non-null    object
 1   WeightUser  458 non-null    int64
 2   Team        457 non-null    category
 3   Number      457 non-null    float64
 4   Position    457 non-null    category
 5   Age         457 non-null    float64
 6   Height      457 non-null    object
 7   Weight      457 non-null    float64
 8   College     373 non-null    object
 9   Salary      458 non-null    int32
 10  Email       458 non-null    object
 11  newAge      457 non-null    float64
 12  Futurense   458 non-null    object
dtypes: category(2), float64(4), int32(1), int64(1), object(5)
memory usage: 40.1+ KB

In [202]:
# create df , index as rank
# optmize df with companies, cal unique comp
# total revenue for energy sector
# total # emps => tech or tele comm sector
#

In [222]:
df_fort = pd.read_csv('data_sets/fortune_data.csv', index_col='Rank')
df_fort.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [223]:
df_fort.shape

(1000, 7)

In [224]:
df_fort.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Company    1000 non-null   object
 1   Sector     1000 non-null   object
 2   Industry   1000 non-null   object
 3   Location   1000 non-null   object
 4   Revenue    1000 non-null   int64
 5   Profits    1000 non-null   int64
 6   Employees  1000 non-null   int64
dtypes: int64(3), object(4)
memory usage: 62.5+ KB

In [225]:
df_fort['Company'].hasnans

False

In [226]:
df_fort['Company'].nunique(), df_fort['Company'].unique()

(996,
 array(['Walmart', 'Exxon Mobil', 'Apple', 'Berkshire Hathaway',
        'McKesson', 'UnitedHealth Group', 'CVS Health', 'General Motors',
        'Ford Motor', 'AT&T', 'General Electric', 'AmerisourceBergen',
        'Verizon', 'Chevron', 'Costco', 'Fannie Mae', 'Kroger',
        'Amazon.com', 'Walgreens Boots Alliance', 'HP', 'Cardinal Health',
        'Express Scripts Holding', 'J.P. Morgan Chase', 'Boeing',
        'Microsoft', 'Bank of America Corp.', 'Wells Fargo', 'Home Depot',
        'Citigroup', 'Phillips 66', 'IBM', 'Valero Energy', 'Anthem',
        'Procter & Gamble', 'State Farm Insurance Cos.', 'Alphabet',
        'Comcast', 'Target', 'Johnson & Johnson', 'MetLife',
        'Archer Daniels Midland', 'Marathon Petroleum', 'Freddie Mac',
        'PepsiCo', 'United Technologies', 'Aetna', 'Lowe’s', 'UPS', 'AIG',
        'Prudential Financial', 'Intel', 'Humana', 'Disney',
        'Cisco Systems', 'Pfizer', 'Dow Chemical', 'Sysco', 'FedEx',
        'Caterpillar', 'Lockheed Martin', 'New York Life Insurance',
        'Coca-Cola', 'HCA Holdings', 'Ingram Micro',
        'Energy Transfer Equity', 'Tyson Foods', 'American Airlines Group',
        'Delta Air Lines', 'Nationwide', 'Johnson Controls', 'Best Buy',
        'Merck', 'Liberty Mutual Insurance Group', 'Goldman Sachs Group',
        'Honeywell International', 'Massachusetts Mutual Life Insurance',
        'Oracle', 'Morgan Stanley', 'Cigna', 'United Continental Holdings',
        'Allstate', 'TIAA', 'INTL FCStone', 'CHS', 'American Express',
        'Gilead Sciences', 'Publix Super Markets', 'General Dynamics',
        'TJX', 'ConocoPhillips', 'Nike', 'World Fuel Services', '3M',
        'Mondelez International', 'Exelon', 'Twenty-First Century Fox',
        'Deere', 'Tesoro', 'Time Warner', 'Northwestern Mutual', 'DuPont',
        'Avnet', 'Macy’s', 'Enterprise Products Partners',
        'Travelers Cos.', 'Philip Morris International', 'Rite Aid',
        'Tech Data', 'McDonald’s', 'Qualcomm', 'Sears Holdings',
        'Capital One Financial', 'EMC', 'USAA', 'Duke Energy',
        'Time Warner Cable', 'Halliburton', 'Northrop Grumman',
        'Arrow Electronics', 'Raytheon', 'Plains GP Holdings',
        'US Foods Holding', 'AbbVie', 'Centene',
        'Community Health Systems', 'Alcoa', 'International Paper',
        'Emerson Electric', 'Union Pacific', 'Amgen', 'U.S. Bancorp',
        'Staples', 'Danaher', 'Whirlpool', 'Aflac', 'AutoNation',
        'Progressive', 'Abbott Laboratories', 'Dollar General',
        'Tenet Healthcare', 'Eli Lilly', 'Southwest Airlines',
        'Penske Automotive Group', 'ManpowerGroup', 'Kohl’s', 'Starbucks',
        'Paccar', 'Cummins', 'Altria Group', 'Xerox', 'Kimberly-Clark',
        'Hartford Financial Services Group', 'Kraft Heinz', 'Lear',
        'Fluor', 'AECOM', 'Facebook', 'Jabil Circuit', 'CenturyLink',
        'Supervalu', 'General Mills', 'Southern', 'NextEra Energy',
        'Thermo Fisher Scientific', 'American Electric Power',
        'PG&E Corp.', 'NGL Energy Partners', 'Bristol-Myers Squibb',
        'Goodyear Tire & Rubber', 'Nucor', 'PNC Financial Services Group',
        'Health Net', 'Micron Technology', 'Colgate-Palmolive',
        'Freeport-McMoRan', 'ConAgra Foods', 'Gap', 'Baker Hughes',
        'Bank of New York Mellon Corp.', 'Dollar Tree',
        'Whole Foods Market', 'PPG Industries', 'Genuine Parts',
        'Icahn Enterprises', 'Performance Food Group', 'Omnicom Group',
        'DISH Network', 'FirstEnergy', 'Monsanto', 'AES', 'CarMax',
        'National Oilwell Varco', 'NRG Energy', 'Western Digital',
        'Marriott International', 'Office Depot', 'Nordstrom',
        'Kinder Morgan', 'Aramark', 'DaVita HealthCare Partners',
        'Molina Healthcare', 'WellCare Health Plans', 'CBS', 'Visa',
        'Lincoln National', 'Ecolab', 'Kellogg', 'C.H. Robinson Worldwide',
        'Textron', 'Loews', 'Illinois Tool Works', 'Synnex', 'Viacom',
        'HollyFrontier', 'Land O’Lakes', 'Devon Energy', 'PBF Energy',
        'Yum Brands', 'Texas Instruments', 'CDW', 'Waste Management',
        'Marsh & McLennan', 'Chesapeake Energy', 'Parker-Hannifin',
        'Occidental Petroleum', 'Guardian Life Ins. Co. of America',
        'Farmers Insurance Exchange', 'J.C. Penney', 'Consolidated Edison',
        'Cognizant Technology Solutions', 'VF', 'Ameriprise Financial',
        'Computer Sciences', 'L Brands', 'Jacobs Engineering Group',
        'Principal Financial', 'Ross Stores', 'Bed Bath & Beyond', 'CSX',
        'Toys “R” Us', 'Las Vegas Sands', 'Leucadia National',
        'Dominion Resources', 'United States Steel', 'L-3 Communications',
        'Edison International', 'Entergy', 'ADP', 'First Data',
        'BlackRock', 'WestRock', 'Voya Financial', 'Sherwin-Williams',
        'Hilton Worldwide Holdings', 'R.R. Donnelley & Sons',
        'Stanley Black & Decker', 'Xcel Energy', 'Murphy USA',
        'CBRE Group', 'D.R. Horton', 'Estee Lauder', 'Praxair', 'Biogen',
        'State Street Corp.', 'Unum Group', 'Reynolds American',
        'Group 1 Automotive', 'Henry Schein', 'Hertz Global Holdings',
        'Norfolk Southern', 'Reinsurance Group of America',
        'Public Service Enterprise Group', 'BB&T Corp.', 'DTE Energy',
        'Assurant', 'Global Partners', 'Huntsman', 'Becton Dickinson',
        'Sempra Energy', 'AutoZone', 'Navistar International',
        'Precision Castparts', 'Discover Financial Services',
        'Liberty Interactive', 'W.W. Grainger', 'Baxter International',
        'Stryker', 'Air Products & Chemicals', 'Western Refining',
        'Universal Health Services', 'Owens & Minor',
        'Charter Communications', 'Advance Auto Parts', 'MasterCard',
        'Applied Materials', 'Eastman Chemical', 'Sonic Automotive',
        'Ally Financial', 'CST Brands', 'eBay', 'Lennar', 'GameStop',
        'Reliance Steel & Aluminum', 'Hormel Foods', 'Celgene',
        'Genworth Financial', 'PayPal Holdings', 'Priceline Group',
        'MGM Resorts International', 'Autoliv',
        'Fidelity National Financial', 'Republic Services', 'Corning',
        'Peter Kiewit Sons’', 'Univar', 'Mosaic', 'Core-Mark Holding',
        'Thrivent Financial for Lutherans', 'Cameron International',
        'HD Supply Holdings', 'Crown Holdings', 'EOG Resources', 'Veritiv',
        'Anadarko Petroleum', 'Laboratory Corp. of America',
        'Pacific Life', 'News Corp.', 'Jarden', 'SunTrust Banks',
        'Avis Budget Group', 'Broadcom', 'American Family Insurance Group',
        'Level 3 Communications', 'Tenneco', 'United Natural Foods',
        'Dean Foods', 'Campbell Soup', 'Mohawk Industries', 'BorgWarner',
        'PVH', 'Ball', 'O’Reilly Automotive', 'Eversource Energy',
        'Franklin Resources', 'Masco', 'Lithia Motors', 'KKR', 'Oneok',
        'Newmont Mining', 'PPL', 'SpartanNash', 'Quanta Services',
        'XPO Logistics', 'Ralph Lauren', 'Interpublic Group',
        'Steel Dynamics', 'WESCO International', 'Quest Diagnostics',
        'Boston Scientific', 'AGCO', 'Foot Locker', 'Hershey',
        'CenterPoint Energy', 'Williams', 'Dick’s Sporting Goods',
        'Live Nation Entertainment', 'Mutual of Omaha Insurance',
        'W.R. Berkley', 'LKQ', 'Avon Products', 'Darden Restaurants',
        'Kindred Healthcare', 'Weyerhaeuser', 'Casey’s General Stores',
        'Sealed Air', 'Fifth Third Bancorp', 'Dover',
        'Huntington Ingalls Industries', 'Netflix', 'Dillard’s',
        'EMCOR Group', 'Jones Financial', 'AK Steel Holding', 'UGI',
        'Expedia', 'salesforce.com', 'Targa Resources', 'Apache',
        'Spirit AeroSystems Holdings',
        'Expeditors International of Washington', 'Anixter International',
        'Fidelity National Information Services',
        'Asbury Automotive Group', 'Hess', 'Ryder System', 'Terex',
        'Coca-Cola European Partners', 'Auto-Owners Insurance',
        'Cablevision Systems', 'Symantec', 'Charles Schwab', 'Calpine',
        'CMS Energy', 'Alliance Data Systems', 'JetBlue Airways',
        'Discovery Communications', 'Trinity Industries', 'Sanmina', 'NCR',
        'FMC Technologies', 'Erie Insurance Group', 'Rockwell Automation',
        'Dr Pepper Snapple Group', 'iHeartMedia', 'Tractor Supply',
        'J.B. Hunt Transport Services', 'Commercial Metals',
        'Owens-Illinois', 'Harman International Industries', 'Baxalta',
        'American Financial Group', 'NetApp', 'Graybar Electric',
        'Oshkosh', 'Ameren', 'A-Mark Precious Metals', 'Barnes & Noble',
        'Dana Holding', 'Constellation Brands', 'LifePoint Health',
        'Zimmer Biomet Holdings', 'Harley-Davidson', 'PulteGroup',
        'Newell Brands', 'Avery Dennison', 'Jones Lang LaSalle',
        'WEC Energy Group', 'Marathon Oil', 'TravelCenters of America',
        'United Rentals', 'HRG Group', 'Old Republic International',
        'Windstream Holdings', 'Starwood Hotels & Resorts',
        'Delek US Holdings', 'Packaging Corp. of America',
        'Quintiles Transnational Holdings', 'Hanesbrands',
        'Realogy Holdings', 'Mattel', 'Motorola Solutions', 'J.M. Smucker',
        'Regions Financial', 'Clorox', 'Ingredion', 'Genesis Healthcare',
        'Peabody Energy', 'Alaska Air Group', 'Seaboard',
        'Frontier Communications', 'Amphenol', 'Lansing Trade Group',
        'SanDisk', 'St. Jude Medical', 'Wyndham Worldwide',
        'Kelly Services', 'Western Union', 'Envision Healthcare Holdings',
        'Visteon', 'Arthur J. Gallagher', 'Host Hotels & Resorts',
        'Insight Enterprises', 'Energy Future Holdings', 'Markel',
        'Essendant', 'CH2M Hill', 'Western & Southern Financial Group',
        'Owens Corning', 'S&P Global', 'Raymond James Financial',
        'NiSource', 'Airgas', 'ABM Industries', 'Citizens Financial Group',
        'Booz Allen Hamilton Holding', 'Simon Property Group', 'Domtar',
        'Rockwell Collins', 'Lam Research', 'Fiserv', 'Spectra Energy',
        'Navient', 'Big Lots', 'Telephone & Data Systems',
        'First American Financial', 'NVR', 'Cincinnati Financial',
        'Burlington Stores', 'KBR', 'Neiman Marcus Group',
        'Robert Half International', 'Leidos Holdings', 'Harris',
        'Hanover Insurance Group', 'Pepco Holdings', 'Nvidia', 'Alleghany',
        'M&T Bank Corp.', 'Rush Enterprises', 'Williams-Sonoma', 'Yahoo',
        'Sonoco Products', 'Brookdale Senior Living', 'Tutor Perini',
        'Michaels Cos.', 'Berry Plastics Group', 'Juniper Networks',
        'Northern Trust', 'YRC Worldwide', 'Pioneer Natural Resources',
        'Ascena Retail Group', 'Adobe Systems', 'Liberty Media',
        'American Tower', 'Zoetis', 'Polaris Industries',
        'Intercontinental Exchange', 'Quad/Graphics',
        'AmTrust Financial Services', 'Activision Blizzard',
        'Fortune Brands Home & Security', 'Caesars Entertainment',
        'Post Holdings', 'Blackstone Group', 'Magellan Health',
        'RPM International', 'Flowserve', 'KeyCorp', 'MRC Global',
        'Keurig Green Mountain', 'Electronic Arts', 'General Cable',
        'Cintas', 'Chipotle Mexican Grill', 'Levi Strauss', 'Talen Energy',
        'Westlake Chemical', 'Hasbro', 'Securian Financial Group',
        'Intuit', 'Cerner', 'Coty', 'Valspar', 'SCANA', 'Bloomin’ Brands',
        'MDU Resources Group', 'Patterson', 'Orbital ATK', 'FM Global',
        'Hyatt Hotels', 'CA', 'VWR', 'Science Applications International',
        'CF Industries Holdings', 'McCormick', 'LPL Financial Holdings',
        'Alon USA Energy', 'Swift Transportation',
        'Calumet Specialty Products Partners', 'MasTec', 'T. Rowe Price',
        'Andersons', 'Coach', 'Toll Brothers', 'Graphic Packaging Holding',
        'Brunswick', 'Atmos Energy', 'Hexion', 'Watsco', 'Tiffany',
        'Regeneron Pharmaceuticals', 'Avaya', 'Wynn Resorts', 'Bemis',
        'Mead Johnson Nutrition', 'Tesla Motors', 'Agilent Technologies',
        'Torchmark', 'Thor Industries', 'Cabela’s',
        'Advanced Micro Devices', 'Ametek', 'Smart & Final Stores',
        'Colfax', 'Under Armour', 'Antero Resources',
        'Nexeo Solutions Holdings', 'AGL Resources', 'Leggett & Platt',
        'Ulta Salon Cosmetics & Fragrance', 'CIT Group',
        'American Axle & Manufacturing', 'Triumph Group', 'Dynegy',
        'Fastenal', 'WhiteWave Foods', 'Welltower',
        'Sally Beauty Holdings', 'CNO Financial Group',
        'CommScope Holding', 'Axiall', 'Ingles Markets', 'Flowers Foods',
        'USG', 'Silgan Holdings', 'Select Medical Holdings',
        'Crown Castle International', 'Allegheny Technologies', 'HSN',
        'Xylem', 'Zebra Technologies', 'Albemarle',
        'Resolute Forest Products', 'Towers Watson', 'Boise Cascade',
        'Greif', 'Team Health Holdings', 'Snap-on',
        'Sprouts Farmers Market', 'Roper Technologies', 'First Solar',
        'Pitney Bowes', 'ADT', 'Molson Coors Brewing',
        'Builders FirstSource', 'Lexmark International', 'Carlisle',
        'CalAtlantic Group', 'Martin Marietta Materials', 'Hub Group',
        'American Eagle Outfitters', 'Abercrombie & Fitch', 'Regal Beloit',
        'Country Financial', 'Meritor', 'Tailored Brands',
        'ON Semiconductor', 'Pinnacle West Capital', 'Ventas', 'Moody’s',
        'Sprague Resources', 'FMC', 'Lennox International',
        'Buckeye Partners', 'Urban Outfitters', 'Manitowoc',
        'Analog Devices', 'Vulcan Materials', 'C.R. Bard', 'Murphy Oil',
        'Nasdaq', 'Darling Ingredients', 'Church & Dwight', 'Hubbell',
        'Worthington Industries', 'PolyOne', 'Diplomat Pharmacy',
        'Cooper-Standard Holdings', 'CME Group', 'Landstar System',
        'CACI International', 'Westinghouse Air Brake Technologies',
        'Rent-A-Center', 'Citrix Systems', 'Clean Harbors',
        'Skyworks Solutions', 'Alliant Energy', 'TD Ameritrade Holding',
        'TEGNA', 'IAC/InterActiveCorp', 'Fossil Group', 'NBTY',
        'ScanSource', 'TreeHouse Foods', 'Aleris', 'Groupon', 'Aaron’s',
        'Joy Global', 'Ryerson Holding', 'Helmerich & Payne',
        'HealthSouth', 'Vantiv', 'Skechers U.S.A.', 'American Water Works',
        'Iasis Healthcare', 'Huntington Bancshares',
        'Tempur Sealy International', 'EchoStar', 'CUNA Mutual Group',
        'Brown-Forman', 'Noble Energy', 'Regal Entertainment Group',
        'Consol Energy', 'Time', 'Varian Medical Systems', 'SkyWest',
        'BGC Partners', 'Puget Energy', 'H&R Block', 'Amerco', 'Brink’s',
        'Oceaneering International', 'Steelcase', 'W.R. Grace',
        'Metaldyne Performance Group', 'KB Home',
        'International Flavors & Fragrances', 'Genesco',
        'Scripps Networks Interactive', 'American National Insurance',
        'Scotts Miracle-Gro', 'Unisys', 'Carter’s', 'NOW',
        'Mercury General', 'Iron Mountain', 'Carlyle Group',
        'Brinker International', 'Northern Tier Energy', 'LinkedIn',
        'Service Corp. International', 'Stericycle', 'Sabre',
        'Graham Holdings', 'Taylor Morrison Home', 'Cooper Tire & Rubber',
        'Old Dominion Freight Line', 'Warner Music Group', 'Green Plains',
        'Alpha Natural Resources', 'Convergys', 'TECO Energy',
        'IMS Health Holdings', 'MSC Industrial Direct', 'Systemax',
        'Triple-S Management', 'StanCorp Financial Group',
        'Universal Forest Products', 'Gannett', 'Amkor Technology',
        'Linn Energy', 'Sentry Insurance Group', 'Weis Markets', 'Timken',
        'Cabot', 'Univision Communications', 'Keysight Technologies',
        'Olin', 'Cinemark Holdings', 'Cracker Barrel Old Country Store',
        'Penn National Gaming', 'Comerica', 'AmSurg', 'DST Systems',
        'Legg Mason', 'KLA-Tencor', 'Sanderson Farms', 'PriceSmart',
        'Superior Energy Services', 'Bon-Ton Stores',
        'KapStone Paper & Packaging', 'Mednax', 'Total System Services',
        'Global Payments', 'Diebold', 'Scientific Games',
        'Applied Industrial Technologies', 'Equity Residential', 'Crane',
        'Paychex', 'New Jersey Resources', 'B/E Aerospace', 'Equinix',
        'Monster Beverage', 'TransDigm Group', 'Acuity Brands', 'Hologic',
        'TrueBlue', 'Broadridge Financial Solutions', 'Verso',
        'Wolverine World Wide', 'Hain Celestial Group',
        'Heartland Payment Systems', 'Panera Bread',
        'Continental Resources', 'Dentsply Sirona', 'ArcBest', 'Equifax',
        'WGL Holdings', 'TriNet Group', 'Pinnacle Foods', 'Plexus',
        'Kennametal', 'Chico’s FAS', 'Kar Auction Services',
        'GNC Holdings', 'Crestwood Equity Partners', 'WABCO Holdings',
        'DSW', 'Valmont Industries', 'Greenbrier Cos.',
        'Alexion Pharmaceuticals', 'Insperity',
        'Hawaiian Electric Industries', 'Alere',
        'ServiceMaster Global Holdings', 'Apollo Education Group',
        'AMC Networks', 'Meritage Homes', 'Hyster-Yale Materials Handling',
        'Caleres', 'PC Connection', 'Arch Coal', 'Mattress Firm Holding',
        'HCP', 'Platform Specialty Products', 'Benchmark Electronics',
        'A.O. Smith', 'Lincoln Electric Holdings', 'Vornado Realty Trust',
        'Teradata', 'Nortek', 'Moog', 'Beacon Roofing Supply',
        'National General Holdings', 'Aretec Group', 'J.Crew Group',
        'EnerSys', 'Autodesk', 'Great Plains Energy',
        'Mutual of America Life Insurance', 'Edwards Lifesciences',
        'Boston Properties', 'ITT', 'Affiliated Managers Group',
        'Tops Holding', 'United Refining', 'Southwest Gas',
        'Medical Mutual of Ohio', 'Westar Energy', 'Ciena', 'Vectren',
        'Edgewell Personal Care', 'Armstrong World Industries',
        'Kansas City Southern', 'Enable Midstream Partners',
        'Cliffs Natural Resources', 'General Growth Properties',
        'California Resources', 'TRI Pointe Group',
        'Mettler-Toledo International', 'A. Schulman', 'Toro', 'SPX FLOW',
        'Intuitive Surgical', 'West', 'Public Storage', 'Xilinx',
        'Stifel Financial', 'Donaldson', 'Granite Construction', 'Pool',
        'Express', 'G-III Apparel Group', 'Kemper', 'EQT',
        'Nationstar Mortgage Holdings', 'Parexel International',
        'Columbia Sportswear', 'inVentiv Health', 'Hawaiian Holdings',
        'AptarGroup', 'IHS Markit', 'Belden', 'Maxim Integrated Products',
        'Coca-Cola Bottling', 'HNI', 'Vishay Intertechnology',
        'Tetra Tech', 'Teledyne Technologies', 'Party City Holdco',
        'Pinnacle Entertainment', 'Trimble Navigation',
        'Penn Mutual Life Insurance', 'MPM Holdings',
        'Sears Hometown & Outlet Stores', 'Tupperware Brands',
        'Alliance Holdings', 'Universal', 'Curtiss-Wright',
        'Brocade Communications Systems', 'PerkinElmer', 'Wayfair',
        'Nu Skin Enterprises', 'Genesis Energy', 'Synopsys',
        'Amica Mutual Insurance', 'Carpenter Technology', 'Illumina',
        'Sinclair Broadcast Group', 'Twitter', 'Domino’s Pizza',
        'Zions Bancorp.', 'Guess', 'Boyd Gaming', 'Akamai Technologies',
        'Prologis', 'OGE Energy', 'Outerwall', 'OneMain Holdings',
        'Magellan Midstream Partners', 'Knights of Columbus',
        'Symetra Financial', 'Gartner', 'Fred’s', 'Hovnanian Enterprises',
        'Kirby', 'Microchip Technology', 'Herman Miller',
        'Spirit Airlines', 'NewMarket', 'VCA', 'Selective Insurance Group',
        'hhgregg', 'Popular', 'Waste Connections', 'Restoration Hardware',
        'Cheesecake Factory', 'Mueller Industries', 'Maximus',
        'TTM Technologies', 'Werner Enterprises', 'Engility Holdings',
        'Rexnord', 'NuStar Energy', 'H.B. Fuller', 'Vista Outdoor',
        'On Assignment', 'Verisk Analytics', 'Par Pacific Holdings',
        'Alliance One International', 'Whiting Petroleum', 'Waters',
        'Tower International', 'Woodward', 'Stewart Information Services',
        'PharMerica', 'Wabash National', 'Ferrellgas Partners',
        'Dycom Industries', 'IDEX', 'Bio-Rad Laboratories',
        'QEP Resources', 'Griffon', 'American Greetings', 'Tribune Media',

In [227]:
df_fort['Sector'].nunique(),df_fort['Sector'].unique()

(21,
 array(['Retailing', 'Energy', 'Technology', 'Financials', 'Health Care',
        'Food and Drug Stores', 'Motor Vehicles & Parts',
        'Telecommunications', 'Industrials', 'Aerospace & Defense',
        'Household Products', 'Food, Beverages & Tobacco',
        'Transportation', 'Media', 'Chemicals', 'Wholesalers', 'Apparel',
        'Hotels, Resturants & Leisure', 'Materials', 'Business Services',
        'Engineering & Construction'], dtype=object))

In [228]:
df_fort['Industry'].nunique(),df_fort['Industry'].unique()

(73,
 array(['General Merchandisers', 'Petroleum Refining',
        'Computers, Office Equipment',
        'Insurance: Property and Casualty (Stock)',
        'Wholesalers: Health Care',
        'Health Care: Insurance and Managed Care', 'Food and Drug Stores',
        'Motor Vehicles and Parts', 'Telecommunications',
        'Industrial Machinery', 'Specialty Retailers: Other',
        'Diversified Financials', 'Internet Services and Retailing',
        'Health Care: Pharmacy and Other Services', 'Commercial Banks',
        'Aerospace and Defense', 'Computer Software',
        'Information Technology Services',
        'Household and Personal Products',
        'Insurance: Property and Casualty (Mutual)', 'Pharmaceuticals',
        'Insurance: Life, Health (stock)', 'Food Production',
        'Food Consumer Products', 'Mail, Package, and Freight Delivery',
        'Semiconductors and Other Electronic Components', 'Entertainment',
        'Network and Other Communications Equipment', 'Chemicals',
        'Wholesalers: Food and Grocery', 'Construction and Farm Machinery',
        'Insurance: Life, Health (Mutual)', 'Beverages',
        'Health Care: Medical Facilities',
        'Wholesalers: Electronics and Office Equipment', 'Pipelines',
        'Airlines', 'Electronics, Electrical Equip.',
        'Specialty Retailers: Apparel', 'Mining, Crude-Oil Production',
        'Apparel', 'Wholesalers: Diversified', 'Miscellaneous',
        'Utilities: Gas and Electric', 'Tobacco', 'Food Services',
        'Computer Peripherals', 'Oil and Gas Equipment, Services',
        'Metals', 'Packaging, Containers', 'Railroads',
        'Scientific,Photographic and Control Equipment',
        'Automotive Retailing, Services', 'Medical Products and Equipment',
        'Temporary Help', 'Engineering, Construction',
        'Advertising, marketing', 'Energy', 'Hotels, Casinos, Resorts',
        'Diversified Outsourcing Services', 'Financial Data Services',
        'Transportation and Logistics', 'Waste Management', 'Securities',
        'Publishing, Printing', 'Home Equipment, Furnishings',
        'Real estate', 'Homebuilders', 'Forest and Paper Products',
        'Trucking, Truck Leasing', 'Transportation Equipment',
        'Building Materials, Glass', 'Education'], dtype=object))

In [229]:
df_fort['Location'].nunique(),df_fort['Location'].unique()

(416,
 array(['Bentonville, AR', 'Irving, TX', 'Cupertino, CA', 'Omaha, NE',
        'San Francisco, CA', 'Minnetonka, MN', 'Woonsocket, RI',
        'Detroit, MI', 'Dearborn, MI', 'Dallas, TX', 'Fairfield, CT',
        'Chesterbrook, PA', 'New York, NY', 'San Ramon, CA',
        'Issaquah, WA', 'Washington, DC', 'Cincinnati, OH', 'Seattle, WA',
        'Deerfield, IL', 'Palo Alto, CA', 'Dublin, OH', 'St. Louis, MO',
        'Chicago, IL', 'Redmond, WA', 'Charlotte, NC', 'Atlanta, GA',
        'Houston, TX', 'Armonk, NY', 'San Antonio, TX', 'Indianapolis, IN',
        'Bloomington, IL', 'Mountain View, CA', 'Philadelphia, PA',
        'Minneapolis, MN', 'New Brunswick, NJ', 'Findlay, OH',
        'McLean, VA', 'Purchase, NY', 'Farmington, CT', 'Hartford, CT',
        'Mooresville, NC', 'Newark, NJ', 'Santa Clara, CA',
        'Louisville, KY', 'Burbank, CA', 'San Jose, CA', 'Midland, MI',
        'Memphis, TN', 'Peoria, IL', 'Bethesda, MD', 'Nashville, TN',
        'Irvine, CA', 'Springdale, AR', 'Fort Worth, TX', 'Columbus, OH',
        'Milwaukee, WI', 'Richfield, MN', 'Kenilworth, NJ', 'Boston, MA',
        'Morris Plains, NJ', 'Springfield, MA', 'Redwood City, CA',
        'Bloomfield, CT', 'Northbrook, IL', 'Inver Grove Heights, MN',
        'Foster City, CA', 'Lakeland, FL', 'Falls Church, VA',
        'Framingham, MA', 'Beaverton, OR', 'Miami, FL', 'St. Paul, MN',
        'Moline, IL', 'Wilmington, DE', 'Phoenix, AZ', 'Camp Hill, PA',
        'Clearwater, FL', 'Oak Brook, IL', 'San Diego, CA',
        'Hoffman Estates, IL', 'Hopkinton, MA', 'Centennial, CO',
        'Waltham, MA', 'Rosemont, IL', 'North Chicago, IL', 'Franklin, TN',
        'Thousand Oaks, CA', 'Benton Harbor, MI', 'Columbus, GA',
        'Fort Lauderdale, FL', 'Mayfield Village, OH', 'Abbott Park, IL',
        'Goodlettsville, TN', 'Bloomfield Hills, MI',
        'Menomonee Falls, WI', 'Bellevue, WA', 'Columbus, IN',
        'Richmond, VA', 'Norwalk, CT', 'Pittsburgh, PA', 'Southfield, MI',
        'Los Angeles, CA', 'Menlo Park, CA', 'St. Petersburg, FL',
        'Monroe, LA', 'Eden Prairie, MN', 'Juno Beach, FL', 'Tulsa, OK',
        'Akron, OH', 'Woodland Hills, CA', 'Boise, ID', 'Chesapeake, VA',
        'Austin, TX', 'Englewood, CO', 'Arlington, VA', 'Princeton, NJ',
        'Boca Raton, FL', 'Denver, CO', 'Long Beach, CA', 'Tampa, FL',
        'Radnor, PA', 'Battle Creek, MI', 'Providence, RI', 'Glenview, IL',
        'Fremont, CA', 'Arden Hills, MN', 'Oklahoma City, OK',
        'Parsippany, NJ', 'Lincolnshire, IL', 'Cleveland, OH', 'Plano, TX',
        'Teaneck, NJ', 'Greensboro, NC', 'Pasadena, CA', 'Des Moines, IA',
        'Dublin, CA', 'Union, NJ', 'Jacksonville, FL', 'Wayne, NJ',
        'Las Vegas, NV', 'Rosemead, CA', 'New Orleans, LA', 'Roseland, NJ',
        'New Britain, CT', 'El Dorado, AR', 'Danbury, CT', 'Cambridge, MA',
        'Chattanooga, TN', 'Winston-Salem, NC', 'Melville, NY',
        'Estero, FL', 'Norfolk, VA', 'Chesterfield, MO',
        'The Woodlands, TX', 'Franklin Lakes, NJ', 'Lisle, IL',
        'Portland, OR', 'Riverwoods, IL', 'Lake Forest, IL',
        'Kalamazoo, MI', 'Allentown, PA', 'El Paso, TX',
        'King of Prussia, PA', 'Mechanicsville, VA', 'Stamford, CT',
        'Roanoke, VA', 'Kingsport, TN', 'Grapevine, TX', 'Austin, MN',
        'Summit, NJ', 'Auburn Hills, MI', 'Corning, NY',
        'Downers Grove, IL', 'Plymouth, MN', 'South San Francisco, CA',
        'Burlington, NC', 'Newport Beach, CA', 'Madison, WI',
        'Broomfield, CO', 'Camden, NJ', 'Calhoun, GA', 'Springfield, MO',
        'San Mateo, CA', 'Taylor, MI', 'Medford, OR',
        'Greenwood Village, CO', 'Byron Center, MI', 'Greenwich, CT',
        'Fort Wayne, IN', 'Madison, NJ', 'Marlborough, MA', 'Duluth, GA',
        'Hershey, PA', 'Coraopolis, PA', 'Beverly Hills, CA',
        'Orlando, FL', 'Federal Way, WA', 'Ankeny, IA', 'Newport News, VA',
        'Los Gatos, CA', 'Little Rock, AR', 'Des Peres, MO',
        'West Chester, OH', 'Wichita, KS', 'Westport, CT', 'Lansing, MI',
        'Bethpage, NY', 'Jackson, MI', 'Long Island City, NY',
        'Silver Spring, MD', 'Erie, PA', 'Brentwood, TN', 'Lowell, AR',
        'Perrysburg, OH', 'Bannockburn, IL', 'Sunnyvale, CA',
        'Oshkosh, WI', 'Santa Monica, CA', 'Maumee, OH', 'Victor, NY',
        'Warsaw, IN', 'Glendale, CA', 'Westlake, OH', 'Durham, NC',
        'El Segundo, CA', 'Schaumburg, IL', 'Orrville, OH',
        'Birmingham, AL', 'Oakland, CA', 'Westchester, IL',
        'Kennett Square, PA', 'Merriam, KS', 'Wallingford, CT',
        'Overland Park, KS', 'Milpitas, CA', 'Troy, MI',
        'Van Buren Township, MI', 'Itasca, IL', 'Tempe, AZ',
        'Glen Allen, VA', 'Toledo, OH', 'Merrillville, IN',
        'Fort Mill, SC', 'Cedar Rapids, IA', 'Brookfield, WI',
        'Santa Ana, CA', 'Reston, VA', 'Fairfield, OH', 'Burlington, NJ',
        'Melbourne, FL', 'Worcester, MA', 'Buffalo, NY',
        'New Braunfels, TX', 'Hartsville, SC', 'Sylmar, CA',
        'Evansville, IN', 'Mahwah, NJ', 'Florham Park, NJ', 'Medina, MN',
        'Sussex, WI', 'Scottsdale, AZ', 'Medina, OH', 'Waterbury, VT',
        'Highland Heights, KY', 'Pawtucket, RI', 'North Kansas City, MO',
        'Cayce, SC', 'Bismarck, ND', 'Dulles, VA', 'Johnston, RI',
        'Sparks, MD', 'Coral Gables, FL', 'Baltimore, MD', 'Horsham, PA',
        'Tarrytown, NY', 'Neenah, WI', 'McKinney, TX', 'Elkhart, IN',
        'Sidney, NE', 'Berwyn, PA', 'Commerce, CA',
        'Annapolis Junction, MD', 'Carthage, MO', 'Bolingbrook, IL',
        'Winona, MN', 'Denton, TX', 'Carmel, IN', 'Hickory, NC',
        'Black Mountain, NC', 'Thomasville, GA', 'Mechanicsburg, PA',
        'Rye Brook, NY', 'Baton Rouge, LA', 'Catawba, SC', 'Delaware, OH',
        'Knoxville, TN', 'Kenosha, WI', 'Sarasota, FL', 'Lexington, KY',
        'Raleigh, NC', 'New Albany, OH', 'Beloit, WI', 'Portsmouth, NH',
        'Richardson, TX', 'Manitowoc, WI', 'Norwood, MA',
        'Murray Hill, NJ', 'Ewing, NJ', 'Shelton, CT', 'Avon Lake, OH',
        'Flint, MI', 'Novi, MI', 'Wilmerding, PA', 'Norwell, MA',
        'Woburn, MA', 'Ronkonkoma, NY', 'Greenville, SC',
        'Symmes Township, OH', 'Manhattan Beach, CA', 'Voorhees, NJ',
        'Canonsburg, PA', 'St. George, UT', 'Kansas City, MO', 'Reno, NV',
        'Grand Rapids, MI', 'Columbia, MD', 'Galveston, TX',
        'Marysville, OH', 'Blue Bell, PA', 'Southlake, TX',
        'Thomasville, NC', 'Bristol, VA', 'Port Washington, NY',
        'San Juan, PR', 'Stevens Point, WI', 'Sunbury, PA',
        'North Canton, OH', 'Santa Rosa, CA', 'Clayton, MO', 'Lebanon, TN',
        'Wyomissing, PA', 'Laurel, MS', 'York, PA', 'Sunrise, FL',
        'Rochester, NY', 'Wall, NJ', 'Wellington, FL', 'Corona, CA',
        'Tacoma, WA', 'Lake Success, NY', 'Rockford, MI', 'Fort Smith, AR',
        'San Leandro, CA', 'Fort Myers, FL', 'Rochester Hills, MI',
        'Lake Oswego, OR', 'New Haven, CT', 'Kingwood, TX', 'Honolulu, HI',
        'Merrimack, NH', 'West Palm Beach, FL', 'Angleton, TX',
        'Dayton, OH', 'Elma, NY', 'Herndon, VA', 'Reading, PA',
        'San Rafael, CA', 'White Plains, NY', 'Williamsville, NY',
        'Warren, PA', 'Topeka, KS', 'Hanover, MD', 'Lancaster, PA',
        'Fairlawn, OH', 'Bloomington, MN', 'Watsonville, CA',
        'Covington, LA', 'Coppell, TX', 'Burlington, MA',
        'Crystal Lake, IL', 'Muscatine, IA', 'Malvern, PA', 'Elmsford, NY',
        'Waterford, NY', 'Provo, UT', 'Lincoln, RI', 'Hunt Valley, MD',
        'Ann Arbor, MI', 'Salt Lake City, UT', 'Red Bank, NJ',
        'Chandler, AZ', 'Zeeland, MI', 'Miramar, FL', 'Branchville, NJ',
        'Hato Rey, PR', 'Corte Madera, CA', 'Calabasas Hills, CA',
        'Costa Mesa, CA', 'Chantilly, VA', 'Clearfield, UT',
        'Calabasas, CA', 'Jersey City, NJ', 'Morrisville, NC',
        'Milford, MA', 'Livonia, MI', 'Fort Collins, CO', 'Lafayette, IN',
        'Palm Beach Gardens, FL', 'Hercules, CA', 'Darien, CT',
        'Cudahy, WI', 'Tucson, AZ', 'Indianaoplis, IN', 'Newton, MA',
        'Westbury, NY', 'Wauwatosa, WI'], dtype=object))

In [230]:
df_fort['Sector'] = df_fort['Sector'].astype(dtype='category')
df_fort.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Company    1000 non-null   object
 1   Sector     1000 non-null   category
 2   Industry   1000 non-null   object
 3   Location   1000 non-null   object
 4   Revenue    1000 non-null   int64
 5   Profits    1000 non-null   int64
 6   Employees  1000 non-null   int64
dtypes: category(1), int64(3), object(3)
memory usage: 56.4+ KB

In [231]:
df_fort['Industry'] = df_fort['Industry'].astype(dtype='category')
df_fort.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Company    1000 non-null   object
 1   Sector     1000 non-null   category
 2   Industry   1000 non-null   category
 3   Location   1000 non-null   object
 4   Revenue    1000 non-null   int64
 5   Profits    1000 non-null   int64
 6   Employees  1000 non-null   int64
dtypes: category(2), int64(3), object(2)
memory usage: 52.2+ KB

In [232]:
# df_fort['Location'] = df_fort['Location'].astype(dtype='category')
# df_fort.info()

In [236]:
#total revenue for energy sector
df_fort[df_fort['Sector'] == 'Energy']['Revenue'].sum()

1517809

In [254]:
# total # emps => tech or tele comm sector
df_fort[(df_fort['Sector'] == 'Technology') | (df_fort['Sector'] == 'Telecommunications')]['Employees'].sum()

4411417