In [9]:
import pandas as pd

In [10]:
df_big = pd.read_csv('DataSets/Copy of BigmacBurger_data2.csv',parse_dates=['Date'],index_col=['Date','Country'])
df_big.head()

                  Price in US Dollars
Date   Country
Jan-16 Argentina                 2.39
       Australia                 3.74
       Brazil                    3.35
       Britain                   4.22
       Canada                    4.14

In [33]:
df_big.loc[('Jan-16')].loc["Australia":'Canada']

           Price in US Dollars
Country
Australia                 3.74
Brazil                    3.35
Britain                   4.22
Canada                    4.14

In [47]:
df_big.loc[('Jan-16')]["Australia":'Canada']

           Price in US Dollars
Country
Australia                 3.74
Brazil                    3.35
Britain                   4.22
Canada                    4.14

In [25]:
df_big.rename(index={'Date':'Country'})#,'Country':'Date'})

                      Price in US Dollars
Date   Country
Jan-16 Argentina                     2.39
       Australia                     3.74
       Brazil                        3.35
       Britain                       4.22
       Canada                        4.14
...                                   ...
Jan-10 UAE                           2.99
       Ukraine                       1.83
       United States                 3.58
       Uruguay                       3.32
       Urgu                          3.32

[653 rows x 1 columns]

In [51]:
df_big.index.get_level_values(1)

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE',
       'Ukraine', 'United States', 'Uruguay', 'Urgu'],
      dtype='object', name='Country', length=653)

In [58]:
df_big.transpose().loc[:,'Jan-16'].loc[:,'Argentina':'Canada']

Country              Argentina  Australia  Brazil  Britain  Canada
Price in US Dollars       2.39       3.74    3.35     4.22    4.14

In [68]:
df_big_tr=df_big.transpose()
df_big_tr.loc['Country':,'Jan-16']

Country,Argentina,Australia,Brazil,Britain,Canada,Chile,China,Colombia,Costa Rica,Czech Republic,...,Estonia,Finland,France,Germany,Greece,Ireland,Italy,Netherlands,Portugal,Spain
Price in US Dollars,2.39,3.74,3.35,4.22,4.14,2.94,2.68,2.43,4.02,2.98,...,3.23,4.41,4.41,3.86,3.6,4.25,4.3,3.71,3.23,3.76

In [81]:
df_big_tr['Jan-16'].loc[:,'Australia':'Canada']
# df_big_tr.loc[:,('Jan-16','Argentina'):('Jan-16','Chile')]

Country              Australia  Brazil  Britain  Canada
Price in US Dollars       3.74    3.35     4.22    4.14

In [73]:
df_big_tr.columns

MultiIndex([('Jan-16',      'Argentina'),
            ('Jan-16',      'Australia'),
            ('Jan-16',         'Brazil'),
            ('Jan-16',        'Britain'),
            ('Jan-16',         'Canada'),
            ('Jan-16',          'Chile'),
            ('Jan-16',          'China'),
            ('Jan-16',       'Colombia'),
            ('Jan-16',     'Costa Rica'),
            ('Jan-16', 'Czech Republic'),
            ...
            ('Jan-10',         'Sweden'),
            ('Jan-10',    'Switzerland'),
            ('Jan-10',         'Taiwan'),
            ('Jan-10',       'Thailand'),
            ('Jan-10',         'Turkey'),
            ('Jan-10',            'UAE'),
            ('Jan-10',        'Ukraine'),
            ('Jan-10',  'United States'),
            ('Jan-10',        'Uruguay'),
            ('Jan-10',           'Urgu')],
           names=['Date', 'Country'], length=653)