In [1]:
import pandas as pd

In [2]:
file = 'data_sets/pokemon_data.csv'
df_pk = pd.read_csv(file)
df_pk.head()

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire

In [3]:
df_pk['Type'].mode()

0    Water
Name: Type, dtype: object

In [5]:
pok_dict = df_pk['Pokemon'].to_dict()

In [6]:
p_series = df_pk['Pokemon']
p_series

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [12]:
p_series.sort_values(ignore_index=True,ascending=False).head(18)

0       Zygarde
1      Zweilous
2         Zubat
3         Zorua
4       Zoroark
5     Zigzagoon
6        Zekrom
7     Zebstrika
8        Zapdos
9      Zangoose
10      Yveltal
11      Yanmega
12        Yanma
13       Yamask
14      Xerneas
15         Xatu
16       Wynaut
17      Wurmple
Name: Pokemon, dtype: object

In [15]:
df_pk.columns

Index(['Pokemon', 'Type'], dtype='object')

In [16]:
pd.read_csv(file,index_col=['Pokemon'])

               Type
Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
...             ...
Yveltal        Dark
Zygarde      Dragon
Diancie        Rock
Hoopa       Psychic
Volcanion      Fire

[721 rows x 1 columns]

In [65]:
tp = pd.read_csv(file,index_col=['Type']).squeeze()
tp

Type
Grass       Bulbasaur
Grass         Ivysaur
Grass        Venusaur
Fire       Charmander
Fire       Charmeleon
              ...
Dark          Yveltal
Dragon        Zygarde
Rock          Diancie
Psychic         Hoopa
Fire        Volcanion
Name: Pokemon, Length: 721, dtype: object

In [28]:
tp.loc['Grass']

Type
Grass     Bulbasaur
Grass       Ivysaur
Grass      Venusaur
Grass        Oddish
Grass         Gloom
            ...
Grass       Chespin
Grass     Quilladin
Grass    Chesnaught
Grass        Skiddo
Grass        Gogoat
Name: Pokemon, Length: 66, dtype: object

In [24]:
df_pk['Type'].value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ghost        23
Ice          23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [29]:
tp.sort_index()

Type
Bug        Leavanny
Bug           Burmy
Bug       Scolipede
Bug        Genesect
Bug      Kricketune
            ...
Water       Panpour
Water          Seel
Water       Dewgong
Water      Politoed
Water      Chinchou
Name: Pokemon, Length: 721, dtype: object

In [30]:
type(tp)

pandas.core.series.Series

In [34]:
tp[tp == 'Bulbasaur']

Type
Grass    Bulbasaur
Name: Pokemon, dtype: object

In [41]:
tp.index[tp.index == 'Grass']

Index(['Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass',
       'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass',
       'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass',
       'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass',
       'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass',
       'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass',
       'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass',
       'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass', 'Grass',
       'Grass', 'Grass'],
      dtype='object', name='Type')

In [43]:
type('Grass' in tp.index)

bool

In [44]:
tp.loc[tp.index[tp.index == 'Grass']]

Type
Grass     Bulbasaur
Grass       Ivysaur
Grass      Venusaur
Grass        Oddish
Grass         Gloom
            ...
Grass       Chespin
Grass     Quilladin
Grass    Chesnaught
Grass        Skiddo
Grass        Gogoat
Name: Pokemon, Length: 4356, dtype: object

In [47]:
tp[0]

'Bulbasaur'

In [48]:
tp[0:4]

Type
Grass     Bulbasaur
Grass       Ivysaur
Grass      Venusaur
Fire     Charmander
Name: Pokemon, dtype: object

In [49]:
tp[[4,5,6]]

Type
Fire     Charmeleon
Fire      Charizard
Water      Squirtle
Name: Pokemon, dtype: object

In [50]:
tp[0] = "Novil"

In [51]:
tp

Type
Grass           Novil
Grass         Ivysaur
Grass        Venusaur
Fire       Charmander
Fire       Charmeleon
              ...
Dark          Yveltal
Dragon        Zygarde
Rock          Diancie
Psychic         Hoopa
Fire        Volcanion
Name: Pokemon, Length: 721, dtype: object

In [66]:
tp[[0,4,6]]

Type
Grass     Bulbasaur
Fire     Charmeleon
Water      Squirtle
Name: Pokemon, dtype: object

In [72]:
type(tp.get(3323))

NoneType

In [73]:
tp["novil"] = "Novil"

In [75]:
del(tp['novil'])

In [76]:
tp

Type
Grass       Bulbasaur
Grass         Ivysaur
Grass        Venusaur
Fire       Charmander
Fire       Charmeleon
              ...
Dark          Yveltal
Dragon        Zygarde
Rock          Diancie
Psychic         Hoopa
Fire        Volcanion
Name: Pokemon, Length: 721, dtype: object

In [82]:
tp.get([3,5,6],'Missing')

Type
Fire     Charmander
Fire      Charizard
Water      Squirtle
Name: Pokemon, dtype: object

In [84]:
df_pk
tpp = df_pk.squeeze()

In [85]:
tpp

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [91]:
tp.apply(max)

Type
Grass      u
Grass      y
Grass      u
Fire       r
Fire       r
          ..
Dark       v
Dragon     y
Rock       n
Psychic    p
Fire       o
Name: Pokemon, Length: 721, dtype: object

In [92]:
# read james bond
# create df
# apply -- if year 1960 to 1975 => hit movie
# apply -- if year 1975 to 2000 => flop movie
# else avg

In [98]:
df_james = pd.read_csv('data_sets/jamesbond_user.csv',index_col=['Film'])
df_james.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [103]:
def rating(x):
    rating = 'None'
    if 1960 <= x < 1975:
        rating = 'Hit movie'
    elif 1975 <= x <= 2000:
        rating = 'Flop Movie'          
    else:
        rating = "AVG movil"
    return rating
df_james['Year'].apply(rating)

# df_james['rating'] = df_james['Year'].apply(lambda x: 'Hit movie' if 1960 <= x < 1975 
#                                         else 'Flop Movie' if 1975 <= x <= 2000 
#                                         else "AVG movil")

Film
Dr. No                              Hit movie
From Russia with Love               Hit movie
Goldfinger                          Hit movie
Thunderball                         Hit movie
Casino Royale                       Hit movie
You Only Live Twice                 Hit movie
On Her Majesty's Secret Service     Hit movie
Diamonds Are Forever                Hit movie
Live and Let Die                    Hit movie
The Man with the Golden Gun         Hit movie
The Spy Who Loved Me               Flop Movie
Moonraker                          Flop Movie
For Your Eyes Only                 Flop Movie
Never Say Never Again              Flop Movie
Octopussy                          Flop Movie
A View to a Kill                   Flop Movie
The Living Daylights               Flop Movie
Licence to Kill                    Flop Movie
GoldenEye                          Flop Movie
Tomorrow Never Dies                Flop Movie
The World Is Not Enough            Flop Movie
Die Another Day                     AVG movil
Casino Royale                       AVG movil
Quantum of Solace                   AVG movil
Skyfall                             AVG movil
Spectre                             AVG movil
Name: Year, dtype: object

In [100]:
df_james

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary,rating
Film,,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6,Hit movie
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6,Hit movie
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2,Hit movie
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7,Hit movie
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN,Hit movie
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4,Hit movie
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6,Hit movie
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8,Hit movie
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN,Hit movie
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN,Hit movie
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN,Flop Movie
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN,Flop Movie
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN,Flop Movie
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN,Flop Movie
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8,Flop Movie
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1,Flop Movie
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2,Flop Movie
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9,Flop Movie
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1,Flop Movie
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0,Flop Movie
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5,Flop Movie
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9,AVG movil
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3,AVG movil
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1,AVG movil
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5,AVG movil
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN,AVG movil

In [110]:
year_dict = dict()

for i in range(1960,2020):
    rating = 'None'
    if 1960 <= i < 1975:
        year_dict[i] = 'Hit movie'
    elif 1975 <= i <= 2000:
        year_dict[i] = 'Flop Movie'          
    else:
        year_dict[i] = "AVG movil"


df_james['Year'].map(year_dict).to_dict()

{'Dr. No': 'Hit movie',
 'From Russia with Love': 'Hit movie',
 'Goldfinger': 'Hit movie',
 'Thunderball': 'Hit movie',
 'Casino Royale': 'AVG movil',
 'You Only Live Twice': 'Hit movie',
 "On Her Majesty's Secret Service": 'Hit movie',
 'Diamonds Are Forever': 'Hit movie',
 'Live and Let Die': 'Hit movie',
 'The Man with the Golden Gun': 'Hit movie',
 'The Spy Who Loved Me': 'Flop Movie',
 'Moonraker': 'Flop Movie',
 'For Your Eyes Only': 'Flop Movie',
 'Never Say Never Again': 'Flop Movie',
 'Octopussy': 'Flop Movie',
 'A View to a Kill': 'Flop Movie',
 'The Living Daylights': 'Flop Movie',
 'Licence to Kill': 'Flop Movie',
 'GoldenEye': 'Flop Movie',
 'Tomorrow Never Dies': 'Flop Movie',
 'The World Is Not Enough': 'Flop Movie',
 'Die Another Day': 'AVG movil',
 'Quantum of Solace': 'AVG movil',
 'Skyfall': 'AVG movil',
 'Spectre': 'AVG movil'}

In [109]:
year_dict

{1960: 'Hit movie',
 1961: 'Hit movie',
 1962: 'Hit movie',
 1963: 'Hit movie',
 1964: 'Hit movie',
 1965: 'Hit movie',
 1966: 'Hit movie',
 1967: 'Hit movie',
 1968: 'Hit movie',
 1969: 'Hit movie',
 1970: 'Hit movie',
 1971: 'Hit movie',
 1972: 'Hit movie',
 1973: 'Hit movie',
 1974: 'Hit movie',
 1975: 'Flop Movie',
 1976: 'Flop Movie',
 1977: 'Flop Movie',
 1978: 'Flop Movie',
 1979: 'Flop Movie',
 1980: 'Flop Movie',
 1981: 'Flop Movie',
 1982: 'Flop Movie',
 1983: 'Flop Movie',
 1984: 'Flop Movie',
 1985: 'Flop Movie',
 1986: 'Flop Movie',
 1987: 'Flop Movie',
 1988: 'Flop Movie',
 1989: 'Flop Movie',
 1990: 'Flop Movie',
 1991: 'Flop Movie',
 1992: 'Flop Movie',
 1993: 'Flop Movie',
 1994: 'Flop Movie',
 1995: 'Flop Movie',
 1996: 'Flop Movie',
 1997: 'Flop Movie',
 1998: 'Flop Movie',
 1999: 'Flop Movie',
 2000: 'Flop Movie',
 2001: 'AVG movil',
 2002: 'AVG movil',
 2003: 'AVG movil',
 2004: 'AVG movil',
 2005: 'AVG movil',
 2006: 'AVG movil',
 2007: 'AVG movil',
 2008: 'AVG movil',
 2009: 'AVG movil',
 2010: 'AVG movil',
 2011: 'AVG movil',
 2012: 'AVG movil',
 2013: 'AVG movil',
 2014: 'AVG movil',
 2015: 'AVG movil',
 2016: 'AVG movil',
 2017: 'AVG movil',
 2018: 'AVG movil',
 2019: 'AVG movil'}

In [111]:
dict()

{}